<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maintenance Subsystem</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-color: #d3d3d3;
        }
        #logo{
            height: 70px;
            padding-left: 60px;
        }

        .sidebar {
            background-color: #0B4463;
            color: #0B4463;
            height: 700px;
            padding-top: 50px;
            margin-top: 0px;
        }

            .sidebar .nav-link {
                color: white;
            }

                .sidebar .nav-link.active:hover {
                    background-color: #1560bd;
                }

                .sidebar .nav-link:hover {
                    background-color: #1560bd;
                }

        .navbar {
            background-color: #d3d3d3;
        }

        .navbar-brand {
            color: #d3d3d3;
        }

        .user-profile {
            color: white;
        }

            .user-profile img {
                border-radius: 50%;
                height: 40px;
                width: 40px;
            }
        .fa-user-circle{
            font-size: 70px
            
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="~/images/BLogo.png" alt="logo" height="30" class="d-inline-block align-top" id="logo">       
        </a>
        <div class="ml-auto user-profile">
            <a class="d-flex align-items-center link-dark text-decoration-none" href="#">
                <i class="fas fa-user-circle me-2" aria-hidden="true" style="color: grey;"></i><br />
            </a>
        </div>
       
    </nav>
    <div class="container-fluid">
        <div class="row">
         
            <!-- Side Navigation Bar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-navy sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            
                            <a class="nav-link active" asp-controller="Maintenance" asp-action="MaintenanceHome">
                                <span data-feather="home"></span>
                                <i class="fa-solid fa-house-chimney"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Maintenance" asp-action="Visits">
                                <span data-feather="calendar"></span>
                                <i class="fa-solid fa-calendar-days"></i>
                                Maintenance
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Maintenance" asp-action="Fridges">
                                <span data-feather="file"></span>
                                <i class="fas fa-warehouse me-2"></i>
                                Fridges
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Maintenance" asp-action="CreateFault">
                                <span data-feather="bar-chart-2"></span>
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                                Create Faults
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Maintenance" asp-action="Reports">
                                <span data-feather="bar-chart-2"></span>
                                <i class="fas fa-chart-bar me-2"></i>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Maintenance" asp-action="Logout">
                                <span data-feather="bar-chart-2"></span>
                                <i class="fas fa-sign-out-alt me-2"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content Area -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
